<div class="card mt-5">
  <div class="card-body">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="clienteService.selectCliente.$key">

      <div class="form-group">
          <input type="text" class="form-control" name="nombre" #nombre="ngModel" [(ngModel)]="clienteService.selectCliente.nombre" placeholder="Ingresa Nombre del Cliente">
      </div>

      <div class="form-group">
          <input type="text" class="form-control" name="apellido" #apellido="ngModel" [(ngModel)]="clienteService.selectCliente.apellido" placeholder="Ingresa Apellido del Cliente">
      </div>
   
      <div class="form-group">
          <input type="text" class="form-control" name="cedula" #cedula="ngModel" [(ngModel)]="clienteService.selectCliente.cedula" placeholder="Ingresa cedula del Cliente">
      </div>
   
      <div class="form-group">
          <input type="text" class="form-control" name="localidad" #localidad="ngModel" [(ngModel)]="clienteService.selectCliente.localidad" placeholder="Ingresa localidad del Cliente">
      </div>

      <div class="form-group">
          <input type="text" class="form-control" name="telefono" #telefono="ngModel" [(ngModel)]="clienteService.selectCliente.telefono" placeholder="Ingresa telefono del Cliente">
      </div>

      <div class="form group">
          <button class="btn btn-primary" type="submit">
              <i class="fas fa-plus-circle">Cliente</i>
          </button>
          <button class="btn btn-secondary" type="reset" (click)="resetForm(clienteForm)" > 
                <i class="fas fa-sync-alt">Reset</i>
          </button>
      </div>
    </form>
  </div>
</div>