<div class="card">
  <div class="card-body">
    <h6 class="text-center">Lista de Clientes</h6>
    <table class="table table-sm table-hover">
      <tbody>
        <tr *ngFor="let cliente of clienteLista">
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.cedula}}</td>
          <td>{{cliente.localidad}}</td>
          <td>{{cliente.telefono}}</td>
          
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(cliente)">
              <i class="far fa-edit"></i>
            </a>
            <a class="btn btn-danger text-white" (click)="onDelete(cliente.$key)">
                <i class="fas fa-trash-alt"></i>
              </a>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>