<div class="container">
  <div class="row">
    <div class="col md 5 text-center">
      <h2>Información del Cliente </h2>
      <app-cliente></app-cliente>
    </div>
    <div class="col md 5 text-center">
      <img width="550" src="./e2e/src/img/carros-modernos.jpg">   
      <app-clientes-lista></app-clientes-lista>
    </div>
  </div>
</div>